.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: rgb(53, 255, 105);
  background: linear-gradient(0deg, rgba(53, 255, 105, 1) 0%, rgba(68, 204, 255, 1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

.graph-input-wrapper {
  width: 100%;
  height: 100%;
}