.graph-input-container {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.form-clauses-container {
    position: relative;
    width: 80vw;
    max-width: 600px;
    height: 400px;
    max-height: 100vh;
    padding: 20px;
    /* background-color: #ffffff; */
    background-color: #000000;
    border: solid 1px rgb(166,166,166);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: rgb(51, 255, 51);
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
}

em {
    color: red;
}

.dynamic-inputs {
    display: flex;
    flex-direction: column;
}

.submit-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    /* color: #000;
    font-weight: bold; */
}

.submit-button:disabled {
    background: #ccc;
    color: white;
}

.add-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-weight: bold;
    background-color: #44CCFF;
}

.submit-form {
    display: flex;
    margin-top: 10%;
    justify-content: center;
}