.clause-visualizer {
    position: relative;
    height: 100%;
}

.clause-visualizer .clause-strs-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 300px;
    height: 100%;
}

.clause-visualizer .clause-strs-wrapper .clause-strs-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.clause-strs-container .clause-strs {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.clause-strs-container .clause-strs-button-container {
    position: absolute;
    height: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clause-visualizer .graph-wrapper {
    width: 100%;
    padding: 20px 20px 20px 300px;
    height: 100%;
}

.clause-visualizer .graph-wrapper .graph-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.graph-container .graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.graph-container .graph-button-container {
    position: absolute;
    height: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 900px) {
    .clause-visualizer .clause-strs-wrapper {
        width: 230px;
    }

    .clause-visualizer .graph-wrapper {
        padding: 20px 20px 20px 230px;
    }
}

@media (max-width: 800px) {
    .clause-visualizer .clause-strs-wrapper {
        width: 200px;
    }

    .clause-visualizer .graph-wrapper {
        padding: 20px 20px 20px 200px;
    }
}