.command-line-user-input {
  width: 100%;
  display: inline-block;
  margin-left: 15px;
  outline: none;
  padding-right: 15px;
}

textarea.command-line-user-input {
  border: 0;
  padding: 0;
  resize: none;
  background-color: transparent;
}